
.content1 {
	position: relative;
margin-top: -5%;
}

.content1 h2 {
	color: rgb(8, 8, 8);
	font-size: 50px;
	position: absolute;
	transform: translate(-20%, -20%);
}

.content1 h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px rgb(250, 244, 244);
}

.content1 h2:nth-child(2) {
	color: #030303;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

/*services css*/

.container{
    width:80%;
    margin: 0 auto;
  }
  
  .details{
    text-align: center;
  }
  
  .details h2{
    color:#243238;
    font-size:50px;
    margin: 0;
  }
  
  .main-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .box{
    width: 300px;
    height: 400px;
    margin: 10px;
    text-align: center;
    padding: 40px 20px;
    color: #ffffff;
    position: relative;
    z-index: 2;
    border-radius: 5px;
  
  }
  .box > * {
    position: relative;
    z-index: 2;
    color: #ffffff;
  }
  
  .box::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .box:hover::before{
    width: 95%;
    height: 95%;
    transition: all ease .50s;
  }
  
  .box .icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #070606;
    text-align: center;
    display: inline-block;
    position: relative;
  }
  
  .box .icon .fas{
    color: #404044;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  hr{
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    width: 70%;
    border: 1px solid rgba(255,255,255, 0.1);
  
  }
  
  .box a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    background-color:#D50000 ;
    padding: 10px 25px;
    border-radius: 25px;
    margin-top: 25px;
    display: inline-block;
    font-weight: 600 ;
  }
  .box a:hover{
    background-color:#243238 ;
  }
  
  .box .white-border{
    border: 1px solid #ffffff;
  }
  
  
  .box-grey{
    background-color:#404044 ;
  }
  
  .box-red{
    background-color:#D50000;
  }
  
  /*home*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* I set the nav display to flex so the two nav item(logo div and navlist) are seperated */
nav {
  background-image: linear-gradient(to right, rgb(139,0,0) , red, black);
  padding: 1.4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Menu is not visible on desktop view */
.menu-icon {
  display: none;
}

/* We use flexbox to style the navList  */
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;

}

li {
  list-style: none;
  transition: all 0.2s ease-in-out;
}

li:hover,
li:active {
  transform: scale(1.1) rotate3d(1, 1, 1, -10deg);
}

a {
  padding: 0.4rem;
  text-decoration: none;
  color: black;
}

a:hover,
a:active {
  color: rgb(10, 10, 10);
  background: rgb(248, 242, 242);
}

/* Media Query for screens below 650px (you can have more Media Queries) */
@media only screen and (max-width: 650px) {
  /*  We set the flex direction to column on small screens  */
  nav {
    flex-direction: column;
  }
  /*  the logo div is styles for small screens using flexbox  */
  .logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-icon {
    display: block;
    font-size: 1.6rem;
  }

  ul {
    display: none;
    flex-direction: column;
    padding-top: 1rem;
    width: 100%;
  }
  ul.open {
    display: flex;
  }
  /*  list items style on small screens  */
  li {
    padding: 0.6rem;
    text-align: center;
  }
}
/*hom*/
.hom {
  height: 100vh;
  background: linear-gradient(
    to right,
    black 0%,
    black 50%,
    rgb(139,0,0) 0%,
    rgb(139,0,0) 50%
  );
}

h1 {
  color: white;
  white-space: nowrap;
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1::before {
  content: attr(data-heading);
  position: absolute;
  left: 0;
  color: black;
  width: 50%;
  overflow: hidden;
}
.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}



figure.effect-lily img {
	max-width: none;
	width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

figure.effect-lily figcaption {
	text-align: left;
}

figure.effect-lily figcaption > div {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	height: 50%;
}

figure.effect-lily h2,
figure.effect-lily p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-lily h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-lily p {
	color: rgba(255,255,255,0.8);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img,
figure.effect-lily:hover p {
	opacity: 1;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-lily:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}
